@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    background: rgb(36, 34, 44);
    user-select: none;
}

.con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
    background-color: rgb(0, 0, 0);
    padding: 4px;
    border-radius: 5px;
    max-width: 360px;
    font-family: 'Roboto Mono', monospace;
    margin-top: 0.01cm;
    margin-left: 11cm;
}

.item{
    background-color: royalblue;
    color:rgb(0, 162, 255);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    font-weight: bold;
}

form{
    max-width: 100%;
}

input {
    width: 100%;
    height: 60px;
    border: none;
    font-size: 30px;
    outline: none;
    text-align: right;
}

.input{
    grid-column: 1/-1;
    padding: 0;
}

.clean{
    grid-column: 1/3;
    background-color: #0288d1;
}

.back{
    grid-column: 3/-1;
}

.zero{
    grid-column: 1/3;
}

.equal{
    grid-column: 4;
    grid-row: 6/8;
    background-color: rgb(49, 49, 235);
}

#MusicText{
    font-family: 'Roboto Mono', monospace;
    color: rgb(0, 162, 255);
    text-shadow: 0 0 30px #0084ff;
}

#CalculatorText{
    font-family: 'Roboto Mono', monospace;
    color: rgb(0, 162, 255);
    text-shadow: 0 0 30px #0084ff;
    font-size: 55px;
    margin-left: 11cm;   
}

#by{
    position: fixed;
    top: 1%;
    left: 34%;
    font-family: 'Roboto Mono', monospace;
    color: rgb(0, 162, 255);
    text-shadow: 0 0 30px #0084ff;
}